.reviews__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    width: 25%;
    height: 50%;
    filter: grayscale(100%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    &:hover {
        .reviews__hover {
            opacity: 1;
            transform: scale(1);
        }
    }
    @include tablets {
        width: 50%;
        height: 25%;
    }
}

.reviews__hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
    background: rgba(#141414, .7);
    transform: scale(.8);
    padding: rem(50px) rem(33px) 0 rem(20px);

    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: rem(35px) rem(50px) 0 rem(30px);
    }
}

.rewiews__title {
    font-size: rem(14px);
    @include gagalin();
    color: $white;
    margin-bottom: rem(30px);

    @include tablets {
        margin-bottom: rem(10px);
    }

    @include phones {
        font-size: rem(24px);
        margin-bottom: rem(30px);
    }
}

.reviews__text {
    color: $white;
    @include ubuntu($style: light);
    font-size: rem(14px);
    line-height: rem(24px);
    margin-bottom: rem(15px);

    @include phones {
        display: none;
    }
}

.reviews__btn {
    padding: rem(10px);
    text-transform: uppercase;
    text-decoration: none;
    background: $red;
    font-size: rem(13px);
    border-radius: rem(5px);
    @include ubuntu($style: medium);
    color: $white;
    display: inline-block;
    transition: .5s;
    &:hover {
        background: #1f2122;
    }

    @include phones {
        display: none;

    }
}

.reviews__btn-fphones {
    padding: rem(10px);
    text-transform: uppercase;
    text-decoration: none;
    background: $red;
    font-size: rem(13px);
    border-radius: rem(5px);
    @include ubuntu($style: medium);
    color: $white;
    display: none;
    transition: .5s;
    &:hover {
        background: #1f2122;
    }

    @include phones {
        display: inline-block;

    }
}