.team {
    background: url("../img/Section4/SBS_1255-X2.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
}

.team__container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 49%;
    background: rgba(#2f3234, .93);
    @include tablets {
        width: 100%;
    }
}

.team__content {
    // margin-top: rem(110px);
    margin-left: rem(96px);
    @include tablets {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
    }
}

.team__content-title {
    margin-top: rem(110px);
    @include tablets {
        margin-top: rem(225px);
    }
}

.team__acco {
    margin-top: rem(39px);
}

.team__acco-item {
    margin-top: rem(24px);
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        margin-top: rem(27px);
    }
}

.team__acco-content {
    height: 0;
    overflow: hidden;
    display: flex;
    @include tablets {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.team__acco-item--active {
    .team__acco-trigger {
        color: $yellow;
        &:before {
            transform: rotate(180deg);
        }
    }
    .team__acco-content {
        height: auto;
    }
}

.team__acco-pic {
    margin-right: rem(20px);
    border-radius: 50%;
    overflow: hidden;
    height: rem(100px);
    width: rem(100px);
    margin: rem(9px) rem(21px) rem(10px) rem(18px);
    @include tablets {
        margin: rem(22px) 0 0 0;
    }
}

.team__acco-avatar {
    transform: translateX(-20px);
}

.team__acco-trigger {
    font-size: rem(14px);
    color: $white;
    @include gagalin();
    text-decoration: none;
    display: flex;
    align-items: center;
    line-height: rem(28px);
    @include tablets {
        font-size: rem(25px);
    }
    @include phones {
        font-size: rem(25px);
    }
    &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: rem(5px) solid transparent;
        border-bottom-width: 0;
        border-top-color: $yellow;
        margin-right: rem(10px);
    }
}

.team__acco-text {
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.team__acco-article-title {
    color: $white;
    @include ubuntu($style: bold);
    font-size: rem(14px);
    margin-top: rem(5px);
    @include tablets {
        margin-top: rem(25px);
    }
}

.team__acco-article-content {
    color: $white;
    @include ubuntu($style: light);
    font-size: rem(14px);
    line-height: rem(24px);
    max-width: rem(208px);
    margin-top: rem(15px);
    @include tablets {
        text-align: center;
        margin-top: rem(15px);
        max-width: rem(340px);
    }
}