.btn {
    width: rem(97px);
    height: rem(35px);
    padding: rem(10px);
    text-transform: uppercase;
    text-decoration: none;
    background: $red;
    font-size: rem(13px);
    border-radius: rem(5px);
    @include ubuntu($style: medium);
    color: $white;
    display: inline-block;
    transition: .5s;
    text-align: center;

    &:hover {
        background: #c1401e;

    }
}