.section__title {
    font-size: rem(72px);
    color: $yellow;
    line-height: rem(63px);

    @include gagalin();
     margin: 0;

    &_color {
        &_black {
            color: $black;
        }
    }
    &_color {
        &_white {
            color: $white;
        }
    }
    &_align {
        &_center {
            text-align: center;
        }
    }

    @include tablets {
        font-size: rem(72px);
    }


    @include phones {
        font-size: rem(63px);
    }
}