.best {
    background: url("../img/Section2/bg.jpg") center center no-repeat;
    background-size: cover;
}

.best__title-best {
    margin-top: rem(132px);

    @include tablets {
        margin-top: rem(255px);
    }

    @include phones {
        margin-top: rem(110px);
    }
}

.best__list {
    display: flex;
    justify-content: space-between;
    margin-top: rem(45px);

    @include tablets {
        margin-top: rem(62px);
    }

    @include phones {
        display: flex;
        flex-direction: column;
        
    }
}

.best__item {
    width: 32%;

    @include phones {
        display: flex;
        width: 100%;
    }
}


.best__pic {
    display: flex;
    justify-content: center;
    margin-bottom: rem(33px);
}

.best__info {
    text-align: center;

    @include phones {
        text-align: left;
        margin-bottom: rem(50px);
        margin-left: rem(35px);
    }
}

.best__title {
    font-size: rem(24px);
    @include lifehack();
    color: $black;
    margin-bottom: rem(12px);
    line-height: rem(28px);
}

.best__desc {
    font-size: rem(14px);
    color: $black;
    @include ubuntu ($style: light);
    line-height: rem(24px);

    @include tablets {
        line-height: rem(26px);
        width: 92%;
    }
}

.best__icon {
    width: rem(97px);
    height: rem(89px);

    &-meat {
        fill: #e04e23;
    }

    &-hand {
        fill: #f5b336;
    }

    &-natural {
        fill: #99c657;
    }
}


